<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="guideMapper">

  <resultMap id="guideResultMap" type="com.group.project.guide.dto.GuideDTO">
    <result property="withdrawalCodeSeq" column="withdrawal_code_seq" />
    <result property="reason" column="reason" />
  </resultMap>

	<select 
    id="selectGuideUserInfo"
    parameterType="com.group.project.guide.dto.GuideDTO"
    resultMap="guideResultMap">

    SELECT withdrawal_code_seq, 
           reason
      FROM t_withdrawal_code
     WHERE 1=1
       AND withdrawal_code_seq = #{ withdrawalCodeSeq, jdbcType=BIGINT }

  </select>

</mapper>